.ct-series-a .ct-slice-pie,.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #87CB16 !important;
  stroke: white !important;
  stroke-width: 5px;
  
  }
  .ct-series-a .ct-slice-pie:hover, .ct-series-a .ct-area:hover {
    fill: #9fd646 !important;
    stroke: #87CB16 !important;
  stroke-width: 5px;
  stroke-opacity: 1;
     
    }
  .ct-series-b .ct-slice-pie,.ct-series-b .ct-slice-pie, .ct-series-a .ct-area {
  fill: #1D62F0 !important;
  stroke: white !important;
  stroke-width: 5px;
  
  }
  .ct-series-b .ct-slice-pie:hover, .ct-series-b .ct-area:hover {
    fill: #508bff !important;
    stroke:#1D62F0 !important;
  stroke-width: 5px;
  stroke-opacity: 1;
  
     
    }
  .ct-series-c .ct-slice-pie,.ct-series-c .ct-slice-pie, .ct-series-a .ct-area {
  fill: #FF4A55 !important;
  stroke: white !important;
  stroke-width: 5px;
  }
  .ct-series-c .ct-slice-pie:hover, .ct-series-c .ct-area:hover {
    fill: #ff7b84 !important;
    stroke:#FF4A55 !important;
  stroke-width: 5px;
  stroke-opacity: 1;
     
    }
  .ct-series-d .ct-slice-pie,.ct-series-d .ct-slice-pie, .ct-series-a .ct-area {
  fill: #1DC7EA !important;
  stroke: white ;
  stroke-width: 5px;
  }
  .ct-series-d .ct-slice-pie:hover, .ct-series-d .ct-area:hover {
    fill: #6ae6ff !important;
    stroke: #1DC7EA !important;
  stroke-width: 5px;
  stroke-opacity: 1;
     
    }
  .ct-chart-pie .ct-label{
    fill: rgb(14, 13, 13) !important;
    stroke:rgb(34, 34, 34) !important;
    stroke-opacity:.2 ;
  }














.navbar {
  display: flex;
  background-color: white !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(63 63 68 / 10%);
}
footer ul{
  display: flex;
  justify-content: space-around;
  
list-style: none;
}
footer ul li{
  margin-left: 7px !important;
}
.intro_card, .banner-card {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.intro_card, .banner-card img{
  width:100%;
}
a{
   
  color: white !important;
  border:none !important;
  text-decoration: none !important;
}
a:hover{
  color: rgb(252, 138, 62) !important;
  border:none !important;
  /* text-decoration: none !important; */
}
p{
  color: rgb(252, 138, 62) !important;
  text-align: center !important;
}
.form-row  input,select,textarea{
  margin-bottom:20px !important;
}
select,.group,textarea{
  width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.group>input{
  margin-right: 5px !important;
}
label{
  color:#ff7a18 !important;
  font-weight: bold;
}
.dropdown-toggle::after {
  content: none !important;
}
/* footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;

  text-align: center;
} */
.page-link{
  color:#ff7a18 !important;
}

.page-item.active .page-link,.btn-primary {
  color: #fff;
  /* background-color: #ff7a18 !important; */
  background: linear-gradient(
85deg
,#ff7a18,#e99a62);
  border-color: white;
}
.page-item.active .page-link,.btn-primary:hover {
  color: #ff7a18 !important;
  background: linear-gradient(
    85deg
    ,#434343,#262626);
  border-color: white;
}
.filter-button .btn-primary{
  /* background: rgb(122, 123, 151) !important; */
  border: 1px solid #3c44b1;
  background: linear-gradient(
85deg
,#434343,#262626);
  color:#ff7a18;
}
.filter-button .btn-primary:hover{
  border: 1px solid #3c44b1;
  background-color: #ff7a18 !important;
  color:white !important;
}
.navbar,.card,.bottom-button{
  box-shadow: -2rem 0 3rem -2rem #000;
  background: linear-gradient(
85deg
,#434343,#262626);
color: white;
border-bottom: 2px solid rgb(39, 39, 39);
}
body,.filter-box.container{
  background: linear-gradient(
85deg
,#434343,#262626);
}
.filter-box.container .col-sm-4{
  background: white !important;
}
.filter-box.container .dropdown-menu{
  background-color: transparent !important;
}
.dropdown-menu{
  bbox-shadow: -2rem 0 3rem -2rem #000;
  background: linear-gradient(
85deg
,#434343,#262626);
}
.card-header{
  border-bottom: 1px solid #ff7a18 ;
}
input{
  color:#ff7a18 !important;
}